
/* common */
html {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: 'Cardo', serif;
    font-family: 'Shippori Mincho', serif;
}

body {
    padding-top: 10vh;
    width: 100%;
    height: 100%;
    margin: 0;
}

main {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
    transition-duration: 0.5s;
}

a:hover {
    color: #c0c0c0;
    transition-duration: 0.5s;
}


h1 {
    font-weight: normal;
    margin: 0%;
}

h2 {
    margin: 4rem 5%;
    font-weight: normal;
    font-size: 2.5rem;
}

.home_button {
    font-weight: normal;
    font-size: 2.5rem;
}

.home_button a {
    color: #c0c0c0;
}

.back_button {
    font-weight: normal;
    font-size: 2.5rem;
    text-align: right;
}

.back_button a {
    color: #c0c0c0;
}

h3 {
    text-align: left;
    font-weight: normal;
    font-size: 2.5rem;
    margin: 0%;
}

h4 {
    margin-top: 0%;
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
    font-weight: normal;
}

p {
    font-size: 0.8rem;
    line-height: 1.4rem;
    margin: 0%;
}

li {
    list-style: none;
}




figure {
    margin: 0%;
}

.display_none {
    display: none;
}

/* header */
.header {
    height: 10vh;
    width: 95%;
    position: fixed;
    top: 0%;
    background-color: white;
    box-shadow: 0px 8px 10px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 2.5%;
    margin-bottom: 4rem;
    z-index: 1000;
}

.header_logo {
    font-size: 1.5rem;
}

/* /header */

/* footer */
.footer {
    height: 30vh;
    width: 100%;
}

.copyright {
    width: 100%;
    display: block;
    margin: 0%;
    bottom: 0%;
    height: 5vh;
    line-height: 5vh;
    text-align: center;
}

/* /footer */

/* top-icon */
.top_icon {
    position: fixed;
    font-size: 1.2rem;
    height: 2.5rem;
    padding: 0 1rem;
    text-align: center;
    line-height: 2.5rem;
    text-decoration: underline;
    right: 3%;
    bottom: 8vh;
}

/* /top-icon */

/* fade調整 */

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    /* 背景カラー */
    z-index: 3000;
    /* 一番手前に */
    pointer-events: none;
    /* 他の要素にアクセス可能にするためにポインターイベントは無効に */
    opacity: 0;
    /* 初期値では非表示 */
    -webkit-transition: opacity .8s ease;
    /* アニメーション時間は 0.8秒 */
    transition: opacity .8s ease;
}

body.fade::after {
    opacity: 1;
}

/* fade調整 */

/* #zoom */
#zoomback {
    position: fixed;
    top: 0;
    right: 0%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    display: none;
}

#zoom_image {
    max-height: 90%;
    width: max(auto, 90%);
}

.zoom_animation {
    animation: zoom_animation 0.5s ease;
}

@keyframes zoom_animation {
    from {
        transform: scale(0.2);
    }
}

/* /#zoom */

@media screen and (max-width:767px) {



    html {}

    body {}

    main {}

    h1 {}

    h2 {
        margin: 2rem 5%;
        font-weight: normal;
        font-size: 1.4rem;
    }

    .home_button {}

    .back_button {
        font-weight: normal;
        font-size: 1.2rem;
        text-align: center;
    }


    h3 {
        text-align: left;
        font-weight: normal;
        font-size: 1.6rem;
        margin: 2rem 0 0;
    }

    h4 {
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
        font-weight: normal;
    }


    p {}

    li {}

    a {}

    figure {}

    /* header */
    .header {
        width: 100%;
        height: 8vh;
        display: block;
        box-shadow: 0px 8px 10px 2px rgba(0, 0, 0, 0.1);
        align-items: center;
        padding: 0;
        margin-bottom: 4rem;

    }

    .header_logo {
        line-height: 8vh;
        font-size: 1rem;
        text-align: center;
    }

    /* /header */

    /* footer */
    .footer {
        height: 10vh;
        width: 100%;
    }

    .copyright {
        width: 95%;
        padding-right: 5%;
        height: 5vh;
        line-height: 5vh;
        text-align: right;
    }

    /* /footer */

    /* top-icon */
    .top_icon {
        height: 2.5rem;
        padding: 0 0.5rem;
        right: 4vw;
        bottom: 4vh;
    }

    /* /top-icon */

    /* #zoom */
    #zoomback {
        position: fixed;
        top: 0;
        right: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }

    #zoom_image {
        height: max(auto, 90%);
        width: 90%;
    }

    /* /#zoom */



    /* /common */
}