/* gnav */
.gnav-ul {
    display: flex;
}

.gnav-li {
    margin-left: 2rem;
}

/* /gnav */

/* works index.html */
.works_section {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2%;
    row-gap: 3rem;
}

.works_title {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
}

.column {
    width: 100%;
    margin-bottom: 2rem;
}

.thumbnail_section {
    width: 100%;
    margin: 0% auto 0.5rem;
}

.thumbnail {
    width: 100%;
    transition-duration: 0.3s;
}

.thumbnail_animation:hover {
    filter: brightness(130%);
    transition-duration: 0.9s;
}

/* /works index.html */

/* work.html */
.wide_adjust {
    width: 80%;
    margin: 0 auto;
}

.works_detail_text {
    width: 100%;
    margin-bottom: 6rem;
}

.works_detail_title {
    width: 100%;
    margin: 0 auto 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.works_detail_heading {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

/* product-section */

.product-section__itemDescriptions {
    width: 100%;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1%;
}

.itemDescriptions__image{
    width: 100%;
    height: auto;
}

.description__header {
    font-size: 1.3rem;
    margin-bottom: 0.2rem;
}

.description__header2 {
    font-size: 1rem;
    color: #c0c0c0;
    height: 3rem;
    margin-bottom: 1.5rem;
}

.description__text {
    padding-right: 0.8rem;
    font-size: 0.8rem;
}

/* /product-section */

/* feature-section */

.feature_section {
    margin-bottom: 6rem;
}

.feature-section__1image1text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
}

.feature-section__1image {
    width: 80%;
}

.feature-section__1text {
    padding: 1rem;
    width: 17%;
}

.feature-section__2images {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3%;
    margin-bottom: 6rem;
}

.feature_3images_section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5%;
    margin-bottom: 6rem;
}

.feature-text {
    text-align: right;
}

.feature-section__1text {
    vertical-align: middle;
    display: inline-block;
}

/* /feature-section */

/* images-section */

.works_images_section {
    width: 100%;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1%;
}

.works_image {
    width: 100%;
    height: auto;
}

/* images-section */

/* /work.html */



/* 
s
p
版
調
整
*/

/* 
要素の感覚FMT
row-gap: 2rem;

margin-bottom: 1rem; 
or 
margin-bottom: 2rem;
or
margin-bottom: 4rem;

*/

@media screen and (max-width:767px) {


    .sp {
        display: none;
    }

    .sp--hidden {
        visibility: hidden;
        font-size: 0;
    }

    /* works index.html */
    .works_section {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 2%;
        row-gap: 0;
    }

    .column {
        width: 100%;
        margin-bottom: 2rem;
    }

    .thumbnail_section {
        width: 100%;
        margin: 0% auto 0.5rem;
    }

    .thumbnail {
        width: 100%;
        transition-duration: none;
    }

    .thumbnail_animation:hover {
        filter: none;
        transition-duration: none;
    }

    .thumbnail {
        width: 100%;
    }

    /* /works */

    /* work.html */
    .wide_adjust {
        width: 90%;
        margin: 0 auto;
    }

    .works_detail_text {
        width: 100%;
        margin-bottom: 4rem;
    }

    .works_detail_title {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .works_detail_heading {
        font-size: 1.2rem;
    }

    /* product-section */

    .product-section__itemDescriptions {
        width: 100%;
        margin-bottom: 2rem;
        display: block;
    }

    .description__header {
        font-size: 1.3rem;
    }

    .description__header2 {
        font-size: 1rem;
        color: #c0c0c0;
        height: auto;
        margin-bottom: 1rem;
    }

    .description__text {
        padding-right: 0.8rem;
        font-size: 0.8rem;
        margin-bottom: 2rem;
    }

    /* /product-section */

    .feature_section {
        margin-bottom: 4rem;
    }

    .feature-section__1image1text {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .feature-section__1image1text.last {
        margin-bottom: 4rem;
    }

    .feature-section__2images {
        grid-template-columns: 1fr;
        row-gap: 1%;
        margin-bottom: 4rem;
    }

    .feature-text {
        text-align: right;
    }

    .works_images_section {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }

    .works_image {
    }

    /* /work.html */


    /* /sp版調整 */

}