/* 
要素の感覚FMT
row-gap: ;

margin-bottom: 1rem; 
or 
margin-bottom: 2rem;
or
margin-bottom: 6rem;

*/

/* gnav */
.gnav-ul {
    display: flex;
}

.gnav-li {
    margin-left: 2rem;
}

/* /gnav */

/* works index.html */
.works_section {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2%;
    row-gap: 3rem;
}

.column {
    width: 100%;
    margin-bottom: 2rem;
}

.thumbnail_section {
    width: 100%;
    margin: 0% auto 2rem;
}

.thumbnail {
    width: 100%;
}

/* /works */

/* work.html */
.wide_adjust {
    width: 80%;
    margin: 0 auto;
}

.works_detail_text {
    width: 100%;
    margin-bottom: 6rem;
}

.works_detail_title {
    width: 100%;
    margin: 0 auto 1rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.works_detail_heading {
    font-size: 1.4rem;
    margin-bottom:1rem;
}

.feature_section{
    margin-bottom: 6rem;
}

.feature_2images_section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3%;
    margin-bottom: 6rem;
}

.feature_3images_section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3%;
    margin-bottom: 6rem;
}

.feature_text{
    text-align: right;
}

.works_images_section {
    width: 100%;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1%;
}

.works_image {
    width: 100%;
    height: auto;
}


/* /work.html */



/* 
s
p
版
調
整
*/

/* 
要素の感覚FMT
row-gap: 2rem;

margin-bottom: 1rem; 
or 
margin-bottom: 2rem;
or
margin-bottom: 4rem;

*/

@media screen and (max-width:767px) {


    .sp {
        display: none;
    }

    /* works index.html */
    .works_section {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 2%;
        row-gap: 0;
    }

    .column {
        width: 100%;
        margin-bottom: 2rem;
    }

    .thumbnail_section {
        width: 100%;
        margin: 0 auto 1rem;
    }

    .thumbnail {
        width: 100%;
    }

    /* /works */

    /* work.html */
    .wide_adjust {
        width: 90%;
        margin: 0 auto;
    }

    .works_detail_text {
        width: 100%;
        margin-bottom: 4rem;
    }

    .works_detail_title {
        width: 100%;
        margin: 0 auto 1rem;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .works_detail_heading {
        font-size: 1.2rem;
        margin: 0;
    }

    .feature_section{
        margin-bottom: 4rem;
    }

    .feature_2images_section {
        grid-template-columns: 1fr;
        row-gap: 1%;
        margin-bottom: 4rem;
    }
    
    .feature_text{
        text-align: right;
    }

    .works_images_section {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }

    .works_image {
        width: 100%;
        height: auto;
    }

    /* /work.html */


    /* /sp版調整 */

}