/*ここから共通*/

html {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header {
  height: 1rem;
  width: 95%;
  padding: 1em 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header__logo--wrapper a {
  text-decoration: none;
  color: black;
}

.header__logo--wrapper a:hover {
  color: darkgray;
}

.header__nav {
  width: 40%;
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.header__nav a {
  text-decoration: none;
  color: black;
}

.header__nav a:hover {
  color: darkgray;
}


.footer {
  height: 1em;
  width: 95%;
  padding: 1rem 0;
  margin: 0 2.5%;
  display: flex;
  justify-content: right;
  position: absolute; /*←絶対位置*/
  bottom: 0; /*下に固定*/
}

.footer__contact {
  color: black;
  text-decoration: none;
  height: 1em;
}

.footer__contact:hover {
  color: darkgray;
}


/*ここまで共通*/

.contact__title {
  padding-top: 3rem;
  text-align: center;
  font-size: 2rem;
}

.contact__image {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.arrow {
  width: 4rem;
}

.contact__form {
  display: flex;
  width: 100%;
  margin-top: 2rem;
}

.form {
  width: 300px;
  margin: 0 auto;
  font-size: 1em;
}

.input {
  width: 70%;
}

.label {
  margin: 0.5em auto;
}

.submit {
  color: white;
  background-color: black;
  border: none;
  display: block;
  border-bottom: 5px solid darkgrey;
  border-radius: 6px 6px 0 0;
  text-decoration: none;
  margin-top: 0.5em;
  width: 25%;
  text-align: center;
}

.submit:hover {
  border-bottom-width: 0;
  transform: translateY(4px);
}


/* 以下スマホ用css */
@media (max-width: 768px) {
  .header {
    width: 100%;
    display: block;
    justify-content: center;
    padding: 1em 0;
  }

  .header__logo--wrapper{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
  }

  .header__logo--wrapper:hover {
    color: darkgray;
  }

  .header__nav {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    z-index: 2;
    display: flex;
    justify-content: space-between;
  }

  .header__nav a {
    text-decoration: none;
    color: black;
  }

  .header__nav a:hover {
    color: darkgray;
  }

  .header__list {
    padding: 0.5rem 1rem 0;
  }

  .footer {
    height: 1em;
    width: 95%;
    padding: 1rem 0;
    margin: 0 2.5%;
    display: flex;
    justify-content: center;
    position: absolute; /*←絶対位置*/
    bottom: 0; /*下に固定*/
  }

  .footer__contact {
    color: black;
    text-decoration: none;
    height: 1em;
  }

  .footer__contact:hover {
    color: darkgray;
  }
}
