/*ここから共通*/

html {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header {
  height: 1rem;
  width: 95%;
  padding: 1em 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header__logo--wrapper a {
  text-decoration: none;
  color: black;
}

.header__logo--wrapper a:hover {
  color: darkgray;
}

.header__nav {
  width: 40%;
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.header__nav a {
  text-decoration: none;
  color: black;
}

.header__nav a:hover {
  color: darkgray;
}

.footer {
  height: 1em;
  width: 95%;
  padding: 1rem 0;
  margin: 0 2.5%;
  display: flex;
  justify-content: right;
  position: absolute; /*←絶対位置*/
  bottom: 0; /*下に固定*/
}

.footer__contact {
  color: black;
  text-decoration: none;
  height: 1em;
}

.footer__contact:hover {
  color: darkgray;
}

/*ここまで共通*/

.main {
  width: 95%;
  padding: 0 5% 0 0;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.item__left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.item__image {
  width: 80%;
}

.item__right {
  width: 40%;
}

.item__name {
  font-size: 2rem;
}

.item__price {
  font-size: 1.5rem;
}

hr {
  margin: 2rem auto;
}

.th {
  padding-right: 1rem;
}

.td {
  padding-left: 1rem;
}
.td__last {
  padding-left: 1rem;
}

.button__area{
  display: flex;
  justify-content: right;
}

.purchase__button{
  height: 2rem;
  width: 7rem;
  margin-top: 1rem;
  margin-right: 2rem;
  font-size: 1rem;
  border: none;
  background: #0084ff;
  display: flex;
  justify-content: center;
}

.purchase__a{
  display:inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
}

.back__button {
  height: 2rem;
  width: 7rem;
  margin-top: 1rem;
  font-size: 1rem;
  color: #fff;
  border: none;
  background: coral ;
}
